@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: #333333;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

h2 {
    @apply text-center font-bold text-4xl relative after:absolute after:content-normal after:w-20 after:rounded-full after:h-1 after:bg-green-800 after:-bottom-3 after:left-1/2 after:-translate-x-1/2;
}

h4 {
    @apply text-center mx-auto md:text-lg w-10/12 my-10;
}

p {
    @apply text-sm sm:text-base;
}

.statistic {
    @apply text-center mx-auto w-max font-medium text-white text-lg md:text-xl mb-10 relative after:absolute after:content-normal after:w-1/2 after:h-1 after:left-1/2 after:-translate-x-1/2 after:-bottom-1 after:bg-white after:rounded-sm;
}
